# Auto detect text files and perform LF normalization
* text=auto

# Some file types I may include
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain

# Files that are truly binary and should not be modified.
*.png binary
*.PNG binary
*.jpg binary
*.JPG binary
*.jpeg binary
*.JPEG binary
*.gif binary
*.GIF binary
*.giff binary
*.GIFF binary
