{% extends "base.twig" %}

{% block title %}Seeded{% endblock title %}

{% block content %}
<div class="container text-center">
    <p><img src="{{ asset('img/sprout.png') }}" height="256" width="256" alt="Sprouted plant"></p>
    <h1>{{ config('project.name.full')|default('Untitled Project') }}</h1>
    <p class="lead">{{ config('project.name.full')|default('Untitled Project') }} is planted and sprouted. Now let's get growing!</p>
</div>
{% endblock content %}